.divider {
    background: rgba(255, 0, 225, 0.201);  
    width: 350px;
    margin: auto;
    display: block;
}

 .card {
    color: black;
    background: rgb(102, 218, 238);  
  } 

h2,h3, h5, h4 {
    text-align: center;
    font-family: 'Baloo';font-size: 20px;
}
form {
    text-align: center;
  }

  .search-form {
    background-color: red;
  }

.favorites-link:hover{
    color: rgba(255, 0, 225, 0.201);  
    text-align: center;
}


h6 { 
    margin: 0;
    padding: 0;
    display: inline;
}
